

.editor{
  flex-grow: 1;
  flex-basis: 0;
  height:100%;
  padding: .5rem;
}
.pane-top{
  display: flex;
  background-color:hsl(255, 2%, 7%);

}

.editor-title{
  display:flex;
  justify-content: space-between;
}



.code-mirror-wrapper{
  flex-grow: 1;
  border-bottom-left-radius:.3rem;
  border-bottom-right-radius:.3rem;
  overflow: hidden;
}

h3{
  
  margin: 0;
  padding: .5rem 1rem;
  color:#fff;
  background-color: #263238;
  border-top-left-radius:.3rem;
  border-top-right-radius:.3rem;


}
iframe{
  border: none;
}

